body {
    background-color: rgb(54, 54, 54)   
}

h1, h2, p {
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 167, 167);
    border: 1px solid black;
    font-family: 'Quicksand', sans-serif;
}

h1, li {
    font-family: 'Fira Sans', sans-serif;
}

img {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(110, 108, 236);
    margin: 5px 5px;
}

li {
    list-style-type: none;
    list-style-position: inside;
    padding: 5px;
    margin: 5px 5px;
}

ol li {
    list-style-type: decimal;
}

.header {
    background-color: rgb(128, 241, 213);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(177, 196, 248);
    border: 1px solid black;
}

.facts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(192, 192, 252);
    border: 1px solid black;  
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    background-color: rgb(241, 250, 159);
    background-border: 1px solid black;
    padding: 2px;
}

a:hover {
    color: rgb(245, 236, 160);
}

@media screen and (min-width: 900px) {
    h1, h2, p {
        margin: 0 10%;
    }
    .header, .facts, .form, .container {
        justify-content: center;
        margin: 0 10%;
    }
}